.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

.modal-content p {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

.modal-content button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #e0c97a;
  color: #333;
  cursor: pointer;
  font-size: 14px;
}

.modal-content button:hover {
  background-color: #d4b95f;
}

.order-preview-item {
  margin: 15px 0;
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

@media (max-width: 480px) {
  .modal-content {
    min-width: 90%;
    max-width: 90%;
  }
}
.ModalImage{
  width: 40%;
  height: auto;
  margin-bottom: 5px;
}
